<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MahjongDll.Rules" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MahjongDll.Configuration" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MahjongDll.Rules>
            <setting name="RenhouFansCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AllowMultipleYakumans" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Akadora" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NagashiMangan" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OpenTanyao" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Round430Mangan" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KazoeYakuman" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DaisharinYakuman" serializeAs="String">
                <value>False</value>
            </setting>
        </MahjongDll.Rules>
        <MahjongDll.Configuration>
            <setting name="RenhouFans" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AllowMultipleYakumans" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Akadora" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NagashiMangan" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OpenTanyao" serializeAs="String">
                <value>True</value>
            </setting>
        </MahjongDll.Configuration>
    </userSettings>
</configuration>